/*  FONTS
 font-family: 'Open Sans', sans-serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Merriweather', serif;
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$clr-01:#1ca9db;
$clr-02:#2013c1;
$clr-03:#d5b0f4;
$clr-04:#333333;
html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

// Utilities
.max-center {
    max-width: 100rem;
    margin: 0 auto;
}

// General Styling end
// Header
header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem 2rem;
        .logo {
            width: 4em;
        }
        ul {
            display: none;
            margin-left: auto;
            li {
                list-style: none;
                padding: 0.5rem 1rem;
                a {
                    text-decoration: none;
                    font-size: 1rem;
                    color: #000;
                    transition: .5s;
                    &:hover {
                        color: $clr-02;
                    }
                }
            }
        }
        .hamburger {
            .line {
                width: 2em;
                height: .25em;
                background: #000;
                border-radius: 2px;
                margin-top: .3em;
            }
        }
    }
}

@media (min-width:60em) {
    header {
        nav {
            padding: .8rem 5rem;
            .hamburger {
                display: none;
            }
            ul {
                display: flex;
            }
        }
    }
}

// Grid Container
.container {
    background: $clr-01;
    padding: 2rem;
    font-size: .87rem;
    h1 {
        text-align: center;
        font-size: 2.5em;
        color: white;
        padding: 2rem 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        padding: 2rem 0;
        .card {
            margin-bottom: 1.5em;
            padding: 2.5rem;
            background: white;
            &-heading {
                display: flex;
                align-items: center;
                img {
                    width: 4em;
                    margin-left: -.3em;
                }
                h4 {
                    font-size: 1.5em;
                    color: $clr-01;
                    margin: 1rem 0;
                    margin-left: 1em;
                }
            }
            p {
                margin-top: 1rem;
                line-height: 1.6;
                font-size: 1em;
            }
        }
    }
}

@media (min-width:60em) {
    .container {
        padding: 2rem 4rem;
        font-size: 1.2vw;
        .grid-container {
            .card {
                margin-top: 1.5em;
                margin-right: 1.5em;
            }
        }
    }
}

@media (min-width:608px) {
    .container {
        .grid-container {
            .card {
                margin-top: 1.5em;
                margin-right: 1.5em;
            }
        }
    }
}

@media (min-width:100rem) {
    .container {
        font-size: 1.5rem;
    }
}

// Footer
footer {
    background: $clr-04;
    p {
        text-align: center;
        color: white;
        padding: 2rem;
    }
    .sample-text {
        font-size: 0.875rem;
    }
    .credit {
        font-size: .8rem;
        padding: 1.5rem 2rem;
        a {
            text-underline-offset: .1em;
            color: $clr-03;
        }
    }
}